/* ------------------------ reset browser default css ----------------------- */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

/* -------------------------------------------------------------------------- */

.container {
    padding: 0 20px;
    max-width: 100%;
    margin: 0 auto;
}

.nav_bar {
    background-color: white;
    box-shadow: 0px 0px 1.4px 0.2px grey;
    padding: 15px 0;
}

/* ------------------------- media query for desktop ------------------------- */

@media screen and (min-width: 767px) {
    .container {
        max-width: 1280px;
    }

    .desktop_logo {
        display: block !important;
    }

    .desktop_logo_wrapper {
        display: flex;
        align-items: center;
    }

    .desktop_logo_wrapper .vertical_line {
        border: 0.1px solid;
        height: 50px;
        color: rgba(187, 187, 187, 0.308);
        margin-left: 15px;
    }

    .mobile_logo {
        display: none;
    }
}

/* -------------------------------------------------------------------------- */
